{% include "base.html" %} 
{% include "navbar.html" %} 


{% block content%}
<h1 class="text-center" style="margin-top: 50px;">About Us</h1>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="strong">Who we are and<br>what we do</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-sm-6">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>

{% endblock%}
{% include "footer.html" %} 