{% include "base.html"%}
{% include "navbar.html"%}
{% load static %}
{% block content%}
{% if error == "no" %}
<script>
    alert("Patient Added")
    window.location("view_patient.html")
</script>
{% endif%}
{% if error == "yes" %}
<script>
    alert("Invalid Add")
</script>
{% endif%}
<div class="container"  style="margin-top: 50px">
    <h2>Add Patient</h2>
    <form method="post">
    {% csrf_token%}
        <label>Patient Name</label>
        <input type="text" class="form-control" name="name">
        <label>Gender</label>
        <input type="text" class="form-control" name="gender">
        <label>Phone</label>
        <input type="text" class="form-control" name="phone">
        <label>Address</label>
        <input type="text" class="form-control" name="address">&nbsp;
        <input type="submit" value="Add" class="form-control btn btn-primary">
    </form>
</div>
{% endblock content%}
