{% include "base.html"%}
{% include "navbar.html"%}
{% load static %}
{% block content%}
{% if error == "no" %}
<script>
    alert("Patient Updated")
    window.location("view_patient.html")
</script>
{% endif%}
{% if error == "yes" %}
<script>
    alert("Invalid Edit")
</script>
{% endif%}
<div class="container"  style="margin-top: 50px">
    <button class="btn btn-primary" onclick="history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <h2>Edit Patient</h2>
    <form method="post">
    {% csrf_token%}
        <label>Patient Name</label>
        <input type="text" class="form-control" name="name" value="{{patient.Name}}">
        <label>Gender</label>
        <input type="text" class="form-control" name="gender" value="{{patient.Gender}}">
        <label>Phone</label>
        <input type="text" class="form-control" name="phone" value="{{patient.Phone}}">
        <label>Address</label>
        <input type="text" class="form-control" name="address" value="{{patient.Address}}">&nbsp;
        <input type="submit" value="Edit" onclick="return confirm('Are you sure ?')" class="form-control btn btn-primary">
    </form>
</div>
{% endblock content%}
