{% include "base.html" %} 
{% include "navbar.html" %} 

{% block content %}
    {% if error == "no" %}
        <script>
            alert("Logged in successfully");
            window.location = "{% url 'index' %}";
        </script>
    {% endif %}
    {% if error == "yes" %}
        <script>
            alert("Invalid login");
        </script>
    {% endif %}
    <!-- Add this check to see the value of 'error' -->
    <script>
        console.log("Error value:", "{{ error }}");
    </script>

    <div class="container">
        <h2 class="text-center">Login</h2>
        <form method="POST">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" class="form-control" name="uname">
            <label>Password</label>
            <input type="password" class="form-control" name="pwd"><br>
            <input type="submit" value="Login" class="form-control btn btn-primary">
        </form>
    </div>
{% endblock content %}

{% include "footer.html" %} 